.swipeButtons{
  position: fixed;
  bottom: 10vh;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  width: 100%;
}

.swipeButtons .MuiIconButton-root {
   background-color: #fff;
   box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important; 
}

.replay{
    padding: 3vh !important;
    color: #f5b748 !important;    
}

.close{
    padding: 2vh !important;
    color: #ec5e6f !important;
}

.star{
    padding: 2vh !important;
    color: #62b4f9 !important;
}

.favorite{
    padding: 2vh !important;
    color: #76e2b3 !important;
}

.flash{
    padding: 2vh !important;
    color: #915dd1 !important;
}

/* .swipeButtons_replay{
    padding: 3vh !important;
    color: #f5b748;
} */